body{

    background-color: black;
}

h1{
    font-family: Helvetica;
    font-size:60px;
    text-shadow:3px 1px white;
}
#ten, #principles, #for, #good, #design{
    display:inline;
}

#ten{
    color: #28A0F6;
    margin-top: 10px; 
}

#principles{
    color: #EF233C;
    margin-top: 10px;
    
}

#for{
    color: #28A0F6;
    margin-top: 10px;

}

#good{
    color: #D7D733;
    margin-top: 10px;
}

#design{
    color: #28A0F6;
    margin-top: 10px;
    
}

h2{
    color: white; 
    font-family: courier;
    font-size: 20px;
    margin-left: 10px;
    font-weight: normal; 
}

h3{

    font-family: Helvetica;
    font-size:40px;
    text-shadow:2px 1px white;
    padding-bottom: 0px;
    margin-bottom:0px;
    margin-top:0px;
    
}

p{
    font-family: courier;
    font-size:15px;
    color: white;
    margin: 5px;
    margin-top:20px;
    margin-bottom:20px;
    padding-right: 200px;
}

.blue{
    color:#28A0F6;
}

.red{
    color:#EF233C;
}

.yellow{
    color:#D7D733;
}

img{
    width:200px;
    border-radius: 50%;
    margin-left:100px;
    padding-top:10px;
    padding-bottom:10px;
}

a{
    color:#28A0F6;
    font-size: 30px;
    font-style:italic;
    font-family: courier;
    padding-left:600px;
    margin:0px;
}

